
.ChatComponent{
  background-color: #090E11;  
  display: flex;
}
.div_users{
  width: 35%;
  height: 100%;
}
.div_chat{
  height: 100%;
  width: 65%;
  right: 0;
  position: fixed;
  -ms-overflow-style: none; 
  overflow-y: scroll;
  background-image: url('./background.png');

}


.div_messages{
  margin-top: 5vh;
  height: 80vh;
  margin-bottom: 5vh;
}
.div_send_message{
  position: fixed;
  bottom: 0;
  background-color: gray;
}
div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
