.UserComponent{
    margin-top: 10%; 
}
.Card{
    background-color: #f5f5f5;
    color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
}
.User{
    display: flex;
    flex-direction: row;
    outline:none;
   
}
#btn_user{
    text-align: left;
    margin-left: 20px;
    width: 80vw;
    padding: 20px;
}
#img_user{
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-left: 30px;
    margin-bottom: auto;
}
.User.User_selected{
    transition: all 0.6s;
    background-color: #0072dd;
    color: #ffffff;
    font-size: 1.5em;
}
.User:hover{
    transition: all 0.6s;
    background-color: #0072dd;
    color: #ffffff;
}

.divider_line {
    width: 80%;
    border-top: 1px solid rgb(24, 24, 24);
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  } 